<!doctype html>
<html class="no-js" lang="hu">
<%- include head/head %>
<body>

<%- include menu/menu %>

<div class="hero-content">
    <div class="large-8 columns">
        <h2>Kutya adatlap</h2>
    </div>
</div>

<section class="hero-content">
    <div class="row">
        <div class="large-8 columns large-centered">
            <form>
                <img src="" id="dogImage"/>
                <label for="dogName"> Hívónév </label>
                <input id="dogName" name="dogName" type="text" maxlength="20" value="<%= dogModel['callName'] %>"/>
                <label for="userName"><a href="userDetails">Felelős felhasználó neve</a></label>
                <input id="userName" type="text" maxlength="20" disabled="yes" value="<%= dogModel['owner'] %>"/>
                <select>
                    <option value="default">Nem</option>
                    <option value="boy" <%= dogModel['sex'] == 'male' ? "selected" : "" %>>Fiú</option>
                    <option value="girl" <%= dogModel['sex'] == 'female' ? "selected" : "" %>>Lány</option>
                </select>
                <select>
                    <option value="default">Kérem válasszon egy fajtát</option>
                    <option value="dog1" <%= dogModel['type'] == 'Mopsz' ? "selected" : "" %>>Mopsz</option>
                    <option value="dog2" <%= dogModel['type'] == 'Nemetjuhasz' ? "selected" : "" %>>Németjuhasz</option>
                    <option value="dog3" <%= dogModel['type'] == 'Korgi' ? "selected" : "" %>>Korgi</option>
                </select>
                <label for="details"> Leírás </label>
                <textarea rows="4" cols="10" id="details"><%= dogModel['details'] %></textarea>
                <a href="javascript:history.back()"><input id="back" name="back" value="Vissza" type="Button"/></a>
                <input id="moidfy" name="modify" value="Módosít" type="submit"/>
            </form>
        </div>
    </div>
</section>
</body>
</html>
